@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Reset  */

:root {
	color-scheme: light dark;
	--primary-color: light-dark(#fff, #363636);
	--text-color: light-dark(#000, #fff);
}

html {
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	scrollbar-width: thin;
	scrollbar-color: #dd1a1a #363636;

	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}

	body {
		position: relative;
		min-height: 100vh;
		padding-bottom: 13em;
		margin: 0;
		background-color: linear-gradient(180deg, #ffffff 7.55%, rgba(255, 255, 255, 0.49) 126.81%);
	}

	h1,
	h2,
	h3,
	p,
	ul,
	hr {
		margin: 0;
	}

	ul {
		list-style: none;
		padding-left: 0;
	}

	input,
	button {
		font-family: inherit;
	}
	input {
		outline: none;
	}
	button {
		cursor: pointer;
		border: none;
	}
	img {
		display: block;
		width: 100%;
	}
	/*Darkmode*/

	&:has([name='color-scheme']:checked) {
		color-scheme: dark;
	}
	&:has([name='color-scheme']) {
		color-scheme: light;
	}
}

/* Reusable Classes*/

.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid-container {
	display: grid;
}
